.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #f96e5b;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 27px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 927px;
  top: 34px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 172px;
  height: 39px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 99px;
  height: 39px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 129px;
  height: 39px;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  left: 45px;
  top: 34px;
  width: 198px;
  height: 39px;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1477px;
  position: absolute;
  left: 0px;
  top: 177px;
}
.bmgt-407-information-systems-projects {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 58px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-figma-is-getting-on-my-nerves {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 994px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.professor-paul-t-shapiro {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.semester-details-spring-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
