.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #f96e5b;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 27px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 927px;
  top: 34px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 172px;
  height: 39px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 99px;
  height: 39px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: 129px;
  height: 39px;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  left: 45px;
  top: 34px;
  width: 198px;
  height: 39px;
}
.let-s-create-a-website-design {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 271px;
  width: 1066px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 345px;
  width: 994px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rounded-rectangle {
  background: #a8ff35;
  border-radius: 10px;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 630px;
  top: 538px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.get-started {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 630px;
  top: 538px;
  width: 180px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}
